<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EngBreaking</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bootstrap Ecommerce Template" name="keywords">
    <meta content="Bootstrap Ecommerce Template Free Download" name="description">

    <!-- Favicon -->
    <link href="img/favicon.svg" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/slick/slick.css" rel="stylesheet">
    <link href="/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Top Header Start -->
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="/">
                            <img src="/img/logo.png" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search text-center">
                        <h1>EngBreaking</h1>
                    </div>
                </div>
                <div class="col-md-3 text-align-right">
                    <div class="user justify-content-end d-flex">
                        {{#if isLoggedIn}}
                        <div class="px-3">Hi {{email}}</div>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                            <div class="dropdown-menu">
                                <a href="/chat/history" class="dropdown-item">History</a>
                                <a href="/chat/newchat" class="dropdown-item">NewChat</a>
                                <a href="/users/logout" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="dropdown">
                            <a href="/">Login or Register</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header End -->


    <!-- Header Start -->
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav m-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        {{#if isLoggedIn}}
                        <a href="/chat/{{userId}}" class="nav-item nav-link">Chat</a>
                        {{else}}
                        <a href="/chat-guest" class="nav-item nav-link">Chat</a>
                        {{/if}}
                        {{!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="/products" class="dropdown-item">Product</a>
                                <a href="/product-detail" class="dropdown-item">Product Detail</a>
                                <a href="/cart" class="dropdown-item">Cart</a>
                                <a href="/wishlist" class="dropdown-item">Wishlist</a>
                                <a href="/checkout" class="dropdown-item">Checkout</a>
                                <a href="/login" class="dropdown-item">Login & Register</a>
                                <a href="/users/my-account" class="dropdown-item">My Account</a>
                            </div>
                        </div> --}}
                        {{!-- <a href="/contact" class="nav-item nav-link">Contact Us</a> --}}
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Header End -->



    {{{body}}}


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/slick/slick.min.js"></script>


    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/account.js"></script>
</body>

</html>